@import '../Variables.scss';

.accordion-container {
  display: grid;
  border-bottom: 0.125rem solid var(--content-creating-limit-border-color);
  transition: height 0.5s ease-in-out;

  .accordion-header {
    display: grid;
    grid-template-columns: 1fr;

    .accordion-dropdown-button {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 1.25rem;

      align-items: center;
      justify-items: start;

      padding: 1.25rem 0;

      border: 0;
      border-radius: $border-radius-2;
      font-weight: $bold;
      font-size: $nav-desktop-font-size;

      background-color: $transparent;

      svg {
        color: var(--icons-1-color);
        height: 1.0625rem;
        stroke: var(--icons-1-color);
        stroke-width: 10;
      }

      &.audio-time {
        grid-template-columns: max-content 1fr max-content;
      }
    }

    h3 {
      margin: 0;
    }

    .section-time {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--audio-section-time-bg-color);
        color: var(--audio-section-time-text-color);
        font-weight: $bold;
        width: fit-content;
        height: 100%;
        border-radius: $border-radius-2;

        padding: 0.3125rem 0.75rem;
        line-height: normal;
      }
    }
  }

  .accordion-body {
    overflow: hidden;
    max-height: 0;
    padding: 0;

    transition:
      max-height 0.3s ease-in-out,
      padding 0.3s ease-in-out;
  }
}
