@import '../Variables.scss';

.section-container {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  padding-bottom: 20px;
  border-bottom: 2px solid var(--content-creating-limit-border-color);

  margin-bottom: 20px;

  .section-header {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content);
    gap: 30px;

    margin-bottom: 20px;

    .section-time {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--audio-section-time-bg-color);
        color: var(--audio-section-time-text-color);
        font-weight: $bold;
        width: fit-content;
        height: 100%;
        border-radius: $border-radius-2;

        padding: 5px 12px;
        line-height: normal;
      }
    }
  }
}
