@import '../Variables.scss';

.audio-container {
  width: 50rem;
}

.audio-content-container {
  width: 100%;
  padding: 0.625rem 1.25rem;
  //background-color: #d9d9d9;
  border-radius: 0.9375rem;
  border: 0.125rem solid var(--audio-container-border-color);
  //border-bottom: .125rem solid var(--audio-container-border-color);
}

.audio-controls-bar {
  display: grid;
  grid-template-columns: 1fr;

  margin: 1.25rem 0;

  .audio-controls {
    display: grid;
    grid-template-columns: repeat(5, max-content) 1fr;
    gap: 0.625rem;

    align-items: center;

    //margin-top: 1.25rem;

    p {
      //margin-right: .625rem;

      background-color: var(--audio-section-time-bg-color);
      color: var(--audio-section-time-text-color);
      font-weight: $bold;
      padding: 0.3125rem 0.75rem;

      border-radius: $border-radius-5;
    }

    button {
      border-radius: $border-radius-5;
      padding: 0.3125rem 0.75rem;
      min-width: 2.25rem;
      border: 0;

      background-color: var(--audio-controls-buttons-bg-color);
      color: var(--audio-controls-buttons-svg-color);
      width: max-content;
      height: max-content;

      &:hover {
        background-color: var(--audio-controls-buttons-bg-hover-color);
      }
    }

    .volume-input {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 0.625rem;
      align-items: center;
      justify-content: end;
    }

    input[type='range'] {
      padding: 0;
      -webkit-appearance: none;
      appearance: none;
      width: 9.375rem;
      height: 1.25rem;

      border: none;

      background-color: rgba(#1167d3, 0.4);
      border-radius: $border-radius-5;
      overflow: hidden;

      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        box-shadow: -6.25rem 0 0 6.25rem rgba(#1167d3, 1);
      }

      &::-moz-range-thumb {
        border: none;
        width: 0;
        box-shadow: -6.25rem 0 0 6.25rem rgba(#d0e1f5, 1);
      }
    }
  }
}
