@import '../Variables.scss';

.content-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($content-cards-width, $content-cards-width));
  column-gap: 1.875rem;
  row-gap: 2.5rem;
  justify-content: space-between;

  padding: $content-cards-container-padding;

  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.ArquivoUA {
    max-height: $content-cards-container-ArquivoUA-max-height;
  }

  &.AreaPessoal {
    max-height: $content-cards-container-AreaPessoal-max-height;
  }

  &::-webkit-scrollbar {
    width: 0.3125rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--content-scrollbar-bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--content-scrollbar-color);
  }

  /* display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 1.875rem;
  row-gap: 3.125rem; 
  justify-content: space-between; */

  /* @media (min-width: 37.5rem) {
    justify-content: space-between;
  } */
}
