@import "../Variables.scss";

.content-typology-card {
  display: grid;
  grid-template-rows: repeat(4, max-content) 1fr;

  background-color: var(--cards-bg);
  width: $typology-cards-width;
  min-height: $content-typology-card-min-height;
  height: 100%;

  padding: $content-typology-cards-padding;

  &:hover {
    border: 3px solid var(--button-primary-border-color);
    padding: calc($content-typology-cards-padding - 3px);
  }

  h2 {
    position: relative;
    display: inline-block;

    //margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 37px;
      height: 3px;
      background-color: var(--base-text-color);
    }
  }

  p.content-typology-info {
    margin-bottom: 40px;

    span {
      font-weight: $extra-bold;
    }
  }

  p.content-typology-examples-title {
    font-size: $body-text-2;
    font-weight: $medium;
    color: var(--content-typology-example-title);

    margin-bottom: 10px;

    height: max-content;
  }

  .type-examples-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;

    margin-bottom: 50px;

    span {
      font-size: $body-text-2;
      padding: 4px 8px;
      background-color: var(--content-typology-examples-bg);
      height: max-content;
    }
  }

  .type-image-container {
    display: grid;
    align-items: end;
  }
}
