@import "../Variables.scss";

.content-typology-general-card {
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr;

  background-color: var(--cards-bg);
  width: $typology-cards-width;
  min-height: $content-typology-general-card-min-height;

  padding: $content-typology-cards-padding;

  h2 {
    position: relative;
    display: inline-block;

    //margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 37px;
      height: 3px;
      background-color: var(--base-text-color);
    }
  }

  p.content-typology-general-info {
    margin-bottom: 20px;

    span {
      font-weight: $extra-bold;
    }
  }

  .type-image-container {
    display: grid;
    align-items: end;
  }
}
