@import '../Variables.scss';

.content-typology-pre-info {
  .content-typology-pre-info-paragraph {
    font-size: $body-text-1;
    font-weight: $medium;

    max-width: 70ch; // Aproximação da largura entendida pela universidade para parágrafos mais acessíveis com 80 a 100 caracteres por linha

    margin: $content-typology-pre-info-margin;

    span {
      font-weight: $extra-bold;
    }
  }

  .content-typology-card-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;

    justify-content: space-between;

    //user-select: text;

    a {
      color: var(--base-text-color);
    }
  }
}

@media screen and (min-width: #{$laptop}) {
  .content-typology-pre-info {
    .content-typology-pre-info-paragraph {
      width: 70ch; // Aproximação da largura entendida pela universidade para parágrafos mais acessíveis com 80 a 100 caracteres por linha
      max-width: 70xh;
    }

    .content-typology-card-container {
      column-gap: 1.875rem;
      grid-template-columns: repeat(auto-fill, minmax($typology-cards-width, $typology-cards-width));
    }
  }
}
