@import '../Variables.scss';

.all-subtitles-table-body {
  // todo o conteúdo do corpo da tabela
  display: grid;

  //height: 100%;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  border-bottom: 0.0625rem solid var(--content-creating-limit-border-color);

  &.first-body-component {
    padding-left: 1.25rem;
  }
}

.subtitles-active {
  font-size: $section-title-text-size;
  font-weight: $bold;
  padding: 0.5188rem 0.75rem;
  border-radius: $border-radius-5;
  background-color: var(--content-detail-video-active-subtitles-mark-bg-color);
  color: var(--content-detail-video-active-subtitles-mark-text-color);
}

.all-subtitles-table-section {
  display: grid;
  grid-template-columns: 1fr max-content;

  .all-subtitles-table-section-btns {
    display: grid;
    grid-template-columns: max-content;
    gap: 1.25rem;

    padding-right: 1.25rem;

    align-content: center;
  }
}
