@import '../Variables.scss';

.forms-step2-video {
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100%;

  label {
    display: block;
    margin-bottom: 10px;

    font-size: $forms-label-text-size;
    font-weight: bold;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: $border-radius-5;
    border: 1px solid var(--input-border-color);

    width: 258px;
    padding: $input-padding;

    background-color: var(--input-bg-color);
    font-size: $body-text-2;

    color: var(--base-text-color);

    &:invalid {
      color: var(--placeholders-text-color);
    }

    &:focus {
      border: 1px solid $transparent;
    }
  }

  .video-display {
    display: grid;
    grid-template-columns: max-content max-content;

    height: $video-size-responsive-height;

    /*  video::-webkit-media-controls-start-playback-button {
      display: none !important;
    } */

    .video {
      aspect-ratio: 16 / 9;
      height: calc($video-size-responsive-height);
      background-color: var(--video-bg-color);

      &.videoEditingDisplay {
        height: calc($video-size-responsive-height - 100px);
      }
    }

    /*  .video-controls-bar {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      gap: 15px;

      padding: 20px;

      background-color: var(--video-controls-bg-color);
      border-radius: 0 0 $border-radius-5 $border-radius-5;

      p {
        font-size: 15px;
        font-weight: $bold;
        color: white;
      }

      button {
        border-radius: $border-radius-5;
        padding: 5px 12px;
        min-width: 36px;
        border: 0;

        background-color: var(--audio-controls-buttons-bg-color);
        color: var(--audio-controls-buttons-svg-color);
        width: max-content;
        height: max-content;

        &:hover {
          background-color: var(--audio-controls-buttons-bg-hover-color);
        }
      }

      input[type='range'] {
        justify-self: end;
        padding: 0;
        width: 100px;
      }

      .video-progress {
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 20px;
      }

      .video-controls {
        display: grid;
        grid-template-columns: repeat(4, max-content) 1fr;
        gap: 15px;

        //margin-top: 20px;
      }
    } */
  }

  .content-creation-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 30px;

    background-color: var(--forms-container-bg);

    height: 100%;
    max-height: $video-forms-step2-main-min-height;

    padding: 30px;

    /* .subtitles-container {
          overflow: scroll;
          overflow-x: hidden;
          scroll-behavior: smooth;
          max-height: $text-forms-step2-sections-container-min-height;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background-color: var(--content-scrollbar-bg-color);
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--content-scrollbar-color);
          }
        } */

    .subtitles-workspace {
      display: grid;
      grid-template-rows: max-content 1fr;
      gap: 10px;
    }

    .all-subtitles-display {
      display: grid;
      grid-template-rows: max-content max-content;

      .language-set-subtitles-creation {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 20px;

        padding-bottom: 30px;

        button {
          align-self: end;
        }

        .language-container {
          //padding: $forms-step2-language-container-padding;

          .forms-select {
            position: relative;

            svg {
              position: absolute;
              height: auto;
              width: 18px;
              right: 14px;
              top: 50%;
              transform: translateY(-50%);
              color: var(--icons-1-color);
              pointer-events: none;
            }
          }
        }
      }

      .all-subtitles-table {
        display: grid;
        grid-template-columns: minmax(140px, max-content) 1fr;

        overflow: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: $video-forms-step2-all-subtitles-table-content-max-height;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }

        .all-subtitles-table-header {
          grid-row: 1; // Targets the first row

          background-color: var(--video-all-subtitles-table-header-bg-color);
          color: var(--video-all-subtitles-table-header-text-color);

          padding: 8px 20px;

          position: sticky;
          top: 0;
          //z-index: 5;

          span {
            font-size: $body-text-2;
            font-weight: $bold;
          }
        }
      }

      p.no-section-placeholder {
        font-size: $no-content-placeholder-text-size;
        color: var(--placeholder-container-text-color);
        text-align: center;

        span {
          font-weight: $bold;
        }
      }
    }

    .subtitle-cues-creation-display {
      display: grid;
      grid-template-rows: max-content 1fr;
      gap: 30px;

      .subtitle-cues-input-creation {
        display: grid;
        grid-template-columns: 1fr repeat(3, max-content);
        gap: 20px;

        align-items: center;

        label {
          margin: 0;
        }

        input[type='text'] {
          border-radius: $border-radius-5;
          border: 1px solid var(--input-border-color);

          background-color: var(--input-bg-color);
          font-size: $body-text-2;

          padding: $input-forms-padding;

          color: var(--base-text-color);

          width: 100%;

          &::placeholder {
            color: var(--placeholders-text-color);
          }

          &:focus {
            border: 1px solid $transparent;
          }

          &.subtitle {
            width: 100%;
          }
        }

        .input-time-container {
          display: grid;
          grid-template-columns: repeat(2, max-content);
          gap: 10px;

          align-items: center;

          .input-time {
            position: relative;

            input {
              padding: 12px 39px 12px 20px;
            }

            button {
              display: flex;
              align-items: center;
              justify-items: center;

              position: absolute;
              right: 8px;
              top: 50%;
              transform: translateY(-50%);

              border: 0;
              border-radius: $border-radius-2;

              background-color: var(--video-set-time-pin-bg-color);

              padding: 6px 7px;

              svg {
                color: var(--video-set-time-pin-color);
                height: 17px;
                stroke: var(--icons-1-color);
                stroke-width: 10;
              }
            }
          }
        }
      }

      .subtitles-cues-table-container {
        display: grid;
        grid-template-rows: max-content 1fr;
        gap: 20px;

        button {
          justify-self: end;
          align-self: end;
        }
      }

      .subtitles-cues-table {
        display: grid;
        grid-template-columns: 1fr max-content max-content;

        overflow: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: $video-forms-step2-all-subtitles-table-content-max-height;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }

        .subtitles-cues-table-header {
          grid-row: 1; // Targets the first row

          background-color: var(--video-all-subtitles-table-header-bg-color);
          color: var(--video-all-subtitles-table-header-text-color);

          padding: 8px 20px;

          position: sticky;
          top: 0;
          //z-index: 5;

          span {
            font-size: $body-text-2;
            font-weight: $bold;
          }
        }
      }
    }
  }

  .forms-step2-bottom-bar {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;

    align-items: center;

    margin-top: 20px;

    .forms-step2-back-button {
      padding: 20px 30px;
      background-color: var(--forms-container-bg);
    }
  }

  .forms-step-feedback-bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 30px;

    justify-items: space-between;
    align-items: center;

    background-color: var(--forms-container-bg);

    &.with-padding {
      padding: 20px 30px;
    }
  }
}
