@import '../Variables.scss';

.forms-step2-text {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;

  label {
    display: block;
    margin-bottom: 0.625rem;

    font-size: $forms-label-text-size;
    font-weight: bold;
  }

  select {
    //cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: $border-radius-5;
    border: 0.0625rem solid var(--input-border-color);
    //outline: none;
    width: 16.125rem;
    padding: $input-padding;

    background-color: var(--input-bg-color);
    font-size: $body-text-2;

    color: var(--base-text-color);

    &:invalid {
      color: var(--placeholders-text-color);
    }

    &:focus {
      border: 0.0625rem solid $transparent;
    }
  }

  .input-add-sections-container {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    position: relative;

    width: max-content;

    margin-bottom: 1.875rem;

    input {
      border-radius: $border-radius-5;
      border: 0;
      //outline: none;
      width: 19.875rem;
      padding: $input-padding;

      background-color: var(--input-bg-color);
      font-size: $body-text-2;

      color: var(--base-text-color);

      &::placeholder {
        color: var(--placeholders-text-color);
      }
    }

    button {
      display: flex;
      place-items: center;

      border: 0;
      border-radius: $border-radius-2;
      font-weight: $bold;
      font-size: $nav-desktop-font-size;

      background-color: $transparent;
      position: absolute;
      right: 0;

      padding: 0.8313rem;

      svg {
        color: var(--icons-1-color);
        height: 1.25rem;
        stroke: var(--icons-1-color);
        stroke-width: 10;
      }
    }
  }

  .no-sections-container {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;

    background-color: var(--forms-container-bg);

    //height: 100%;
    //max-height: $text-forms-step2-main-min-height;

    p.no-section-placeholder {
      font-size: $no-content-placeholder-text-size;
      color: var(--placeholder-container-text-color);
      text-align: center;

      span {
        font-weight: $bold;
      }
    }
  }

  .content-creation-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    background-color: var(--forms-container-bg);

    height: 100%;
    max-height: $text-forms-step2-main-min-height;

    .content-creation-left-side-bar {
      display: grid;
      grid-template-rows: 1fr max-content;

      width: calc(16.125rem + 1.875rem + 1.875rem);

      border-right: 0.3125rem solid var(--content-creating-limit-border-color);

      .sections-container {
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: $text-forms-step2-sections-container-min-height;

        &::-webkit-scrollbar {
          width: 0.3125rem;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }
      }

      .language-container {
        padding: $forms-step2-language-container-padding;
        border-top: 0.3125rem solid var(--content-creating-limit-border-color);

        .forms-select {
          position: relative;

          svg {
            position: absolute;
            height: auto;
            width: 1.125rem;
            right: 0.875rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--icons-1-color);
            pointer-events: none;
          }
        }
      }
    }

    .content-creation-work-space {
      display: grid;
      grid-template-rows: max-content 1fr;
      grid-template-columns: 1fr;

      .content-creation-top-bar {
        display: grid;
        grid-template-columns: 1fr max-content max-content;

        padding: $forms-step2-content-creation-top-bar-padding;
        border-bottom: 0.3125rem solid var(--content-creating-limit-border-color);

        h2 {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;

          line-clamp: 1;

          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          //max-width: 70ch;

          margin: 0;
          align-self: center;
        }

        button:first-of-type {
          margin-right: 1.875rem;
          margin-left: 1.875rem;
        }
      }

      .content-creation-upload {
        display: grid;
        grid-template-columns: 1fr;

        padding: 1.875rem;

        height: $text-forms-step2-work-space-max-height;
        overflow: hidden;

        .dropzone {
          display: grid;
          grid-template-columns: 1fr;

          place-items: center;

          width: 100%;
          height: 100%;

          &:focus {
            outline: 0.125rem solid $notice-Yellow;
            outline-offset: 0;
            //border: .0625rem solid $transparent;
          }

          .Centralisation {
            display: grid;
            grid-template-columns: max-content 1fr;

            align-items: center;

            width: 37.5rem;

            .dropzone-info {
              // pointer-events: none;

              display: grid;
              grid-template-rows: repeat(4, max-content);

              justify-items: center;

              border-right: 0.0625rem solid var(--input-border-color);
              width: 14.125rem;

              svg {
                width: 4.0625rem;
                height: auto;

                margin-bottom: 0.9375rem;
              }

              p {
                font-size: $forms-input-file-p;
                font-weight: $bold;
                color: var(--base-text-color);

                margin-bottom: 0.125rem;
              }

              span {
                margin-bottom: 0.625rem;
              }
            }

            .dropzone-file-type {
              display: grid;
              grid-template-rows: repeat(2, max-content);

              justify-items: center;

              span {
                font-size: $body-text-1;
                font-weight: $medium;
              }

              p {
                font-size: $dropzone-file-type-text-size;
                font-weight: $bold;
                color: var(--input-file-type-color);
                margin-top: -0.625rem;
              }
            }
          }
        }
      }
    }

    .content-creation-right-side-bar {
      display: grid;
      grid-template-rows: 1fr max-content max-content;
      gap: 1.25rem;

      border-left: 0.3125rem solid var(--content-creating-limit-border-color);

      place-items: center;

      width: max-content;
      padding: 1.25rem 1.875rem;

      .file-icon {
        display: grid;
        place-items: center;

        height: 100%;
        width: 100%;

        svg {
          max-width: 4.5rem;
          height: auto;
        }
      }

      .file-side-info {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        gap: 1.25rem;

        justify-self: start;

        height: 100%;

        span {
          font-size: $body-text-1;
          font-weight: $regular;
          margin-bottom: 0.3125rem;
        }

        p:first-of-type {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          line-clamp: 2;

          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 20ch;
        }

        p {
          font-size: $body-text-1;
          font-weight: $bold;
        }
      }
    }
  }

  .forms-step2-bottom-bar {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.25rem;

    align-items: center;

    margin-top: 1.25rem;

    .forms-step2-back-button {
      padding: 1.25rem 1.875rem;
      background-color: var(--forms-container-bg);
    }
  }

  .forms-step-feedback-bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.875rem;

    justify-items: space-between;
    align-items: center;

    background-color: var(--forms-container-bg);

    &.with-padding {
      padding: 1.25rem 1.875rem;
    }
  }
}
