@import "../Variables.scss";

.forms-step2 {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100%;

  label {
    display: block;
    margin-bottom: 10px;

    font-size: $forms-label-text-size;
    font-weight: bold;
  }

  select {
    //cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: $border-radius-5;
    border: 1px solid var(--input-border-color);
    //outline: none;
    width: 258px;
    padding: $input-padding;

    background-color: var(--input-bg-color);
    font-size: $body-text-2;

    color: var(--base-text-color);

    &:invalid {
      color: var(--placeholders-text-color);
    }

    &:focus {
      border: 1px solid $transparent;
    }
  }

  .input-add-sections-container {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    position: relative;

    width: max-content;

    margin-bottom: 30px;

    input {
      border-radius: $border-radius-5;
      border: 0;
      //outline: none;
      width: 318px;
      padding: $input-padding;

      background-color: var(--input-bg-color);
      font-size: $body-text-2;

      color: var(--base-text-color);

      &::placeholder {
        color: var(--placeholders-text-color);
      }
    }

    button {
      display: flex;
      place-items: center;

      border: 0;
      border-radius: $border-radius-2;
      font-weight: $bold;
      font-size: $nav-font-size;

      background-color: $transparent;
      position: absolute;
      right: 0;

      padding: 13.3px;

      svg {
        color: var(--icons-1-color);
        height: 20px;
        stroke: var(--icons-1-color);
        stroke-width: 10;
      }
    }
  }

  .no-sections-container {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;

    background-color: var(--forms-container-bg);

    height: 100%;
    max-height: $text-forms-step2-main-min-height;

    p.no-section-placeholder {
      font-size: $no-content-placeholder-text-size;
      color: var(--placeholder-container-text-color);
      text-align: center;

      span {
        font-weight: $bold;
      }
    }
  }

  .content-creation-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    background-color: var(--forms-container-bg);

    height: 100%;
    max-height: $text-forms-step2-main-min-height;

    .content-creation-left-side-bar {
      display: grid;
      grid-template-rows: 1fr max-content;

      width: calc(258px + 30px + 30px);

      border-right: 5px solid var(--content-creating-limit-border-color);

      .sections-container {
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: $text-forms-step2-sections-container-min-height;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }
      }

      .language-container {
        padding: 20px 30px 30px;
        border-top: 5px solid var(--content-creating-limit-border-color);

        .forms-select {
          position: relative;

          svg {
            position: absolute;
            height: auto;
            width: 18px;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--icons-1-color);
            pointer-events: none;
          }
        }
      }
    }

    .content-creation-work-space {
      display: grid;
      grid-template-rows: max-content 1fr;

      .content-creation-top-bar {
        display: grid;
        grid-template-columns: 1fr max-content max-content;

        padding: 30px;
        border-bottom: 5px solid var(--content-creating-limit-border-color);

        h2 {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          line-clamp: 2;

          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 70ch;

          margin: 0;
          align-self: center;
        }

        button:first-of-type {
          margin-right: 30px;
          margin-left: 30px;
        }
      }

      .content-creation-upload {
        padding: 30px;

        .dropzone {
          display: grid;
          grid-template-columns: 1fr;

          place-items: center;

          width: 100%;
          height: 100%;

          &:focus {
            outline: 2px solid $notice-Yellow;
            outline-offset: 0;
            //border: 1px solid $transparent;
          }

          .Centralisation {
            display: grid;
            grid-template-columns: max-content 1fr;

            align-items: center;

            width: 600px;

            .dropzone-info {
              // pointer-events: none;

              display: grid;
              grid-template-rows: repeat(4, max-content);

              justify-items: center;

              border-right: 1px solid var(--input-border-color);
              width: 226px;

              svg {
                width: 65px;
                height: auto;

                margin-bottom: 15px;
              }

              p {
                font-size: $forms-input-file-p;
                font-weight: $bold;
                color: var(--base-text-color);

                margin-bottom: 2px;
              }

              span {
                margin-bottom: 10px;
              }
            }

            .dropzone-file-type {
              display: grid;
              grid-template-rows: repeat(2, max-content);

              justify-items: center;

              span {
                font-size: $body-text-1;
                font-weight: $medium;
              }

              p {
                font-size: $dropzone-file-type-text-size;
                font-weight: $bold;
                color: var(--input-file-type-color);
                margin-top: -10px;
              }
            }
          }
        }
      }
    }

    .content-creation-right-side-bar {
      display: grid;
      grid-template-rows: 1fr max-content max-content;
      gap: 20px;

      border-left: 5px solid var(--content-creating-limit-border-color);

      place-items: center;

      width: max-content;
      padding: 30px;

      .file-icon {
        display: grid;
        place-items: center;

        height: 100%;
        width: 100%;

        svg {
          max-width: 72px;
          height: auto;
        }
      }

      .file-side-info {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        gap: 20px;

        justify-self: start;

        height: 100%;

        span {
          font-size: $body-text-1;
          font-weight: $regular;
          margin-bottom: 5px;
        }

        p:first-of-type {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          line-clamp: 2;

          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 20ch;
        }

        p {
          font-size: $body-text-1;
          font-weight: $bold;
        }
      }
    }
  }

  .forms-step2-bottom-bar {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;

    margin-top: 20px;

    .forms-step2-back-button {
      padding: 20px 30px;
      background-color: var(--forms-container-bg);
    }

    .forms-step2-input-feedback-submit-container {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;

      background-color: var(--forms-container-bg);

      padding: 20px 30px;
    }
  }
}
