@import '../Variables.scss';

.forms-step2-image {
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100%;

  label {
    display: block;
    margin-bottom: 0.625rem;

    font-size: $forms-label-text-size;
    font-weight: bold;
  }

  .content-creation-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: 1fr;

    background-color: var(--forms-container-bg);

    //max-height: $image-forms-step2-main-min-height;

    .content-creation-left-side-bar {
      display: grid;
      grid-template-rows: 1fr max-content;

      width: calc(16.125rem + 1.875rem + 1.875rem);

      border-right: 0.3125rem solid var(--content-creating-limit-border-color);

      .sections-container {
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: 23.8425rem;

        &::-webkit-scrollbar {
          width: 0.3125rem;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }
      }

      .language-container {
        padding: $forms-step2-language-container-padding;
        border-top: 0.3125rem solid var(--content-creating-limit-border-color);

        .forms-select {
          position: relative;

          select {
            //cursor: pointer;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            border-radius: $border-radius-5;
            border: 0.0625rem solid var(--input-border-color);
            //outline: none;
            width: 16.125rem;
            padding: $input-padding;

            background-color: var(--input-bg-color);
            font-size: $body-text-2;

            color: var(--base-text-color);

            &:invalid {
              color: var(--placeholders-text-color);
            }

            &:focus {
              border: 0.0625rem solid $transparent;
            }
          }

          svg {
            position: absolute;
            height: auto;
            width: 1.125rem;
            right: 0.875rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--icons-1-color);
            pointer-events: none;
          }
        }
      }
    }

    .content-creation-image-preview {
      display: grid;
      grid-template-rows: max-content max-content 1fr;
      gap: 1.25rem;

      padding: $image-preview-container;

      border-right: 0.3125rem solid var(--content-creating-limit-border-color);

      .image-preview {
        img {
          object-fit: contain;
          height: 18.4375rem;
          border: 0.1875rem solid var(--image-uploaded-sections-border-color);
          aspect-ratio: 16 / 9;
        }
      }

      .image-preview-btns {
        display: grid;
        grid-template-columns: 1fr max-content;
      }

      .image-preview-description {
        align-self: end;

        input {
          width: 100%;
        }
      }
    }

    .content-creation-work-space {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;

      /* .content-creation-top-bar {
        display: grid;
        grid-template-columns: 1fr max-content max-content;

        padding: $forms-step2-content-creation-top-bar-padding;
        border-bottom: .3125rem solid var(--content-creating-limit-border-color);

        h2 {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;

          line-clamp: 1;

          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          //max-width: 70ch;

          margin: 0;
          align-self: center;
        }

        button:first-of-type {
          margin-right: 1.875rem;
          margin-left: 1.875rem;
        }
      } */

      .content-creation-upload {
        display: grid;
        grid-template-columns: 1fr;

        padding: 1.875rem;

        //height: 100%;
        overflow: hidden;

        .dropzone {
          display: grid;
          grid-template-columns: 1fr;

          place-items: center;

          width: 100%;
          height: 100%;

          &:focus {
            outline: 0.125rem solid $notice-Yellow;
            outline-offset: 0;
            //border: .0625rem solid $transparent;
          }

          .Centralisation {
            display: grid;
            grid-template-columns: max-content 1fr;

            align-items: center;

            width: 37.5rem;

            .dropzone-info {
              // pointer-events: none;

              display: grid;
              grid-template-rows: repeat(4, max-content);

              justify-items: center;

              border-right: 0.0625rem solid var(--input-border-color);
              width: 14.125rem;

              svg {
                width: 4.0625rem;
                height: auto;

                margin-bottom: 0.9375rem;
              }

              p {
                font-size: $forms-input-file-p;
                font-weight: $bold;
                color: var(--base-text-color);

                margin-bottom: 0.125rem;
              }

              span {
                margin-bottom: 0.625rem;
              }
            }

            .dropzone-file-type {
              display: grid;
              grid-template-rows: repeat(2, max-content);

              justify-items: center;

              span {
                font-size: $body-text-1;
                font-weight: $medium;
              }

              p {
                font-size: $dropzone-file-type-text-size;
                font-weight: $bold;
                color: var(--input-file-type-color);
                margin-top: -0.625rem;
              }
            }
          }
        }
      }
    }
  }

  .forms-step2-bottom-bar {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.25rem;

    align-items: center;

    margin-top: 1.25rem;

    .forms-step2-back-button {
      padding: 1.25rem 1.875rem;
      background-color: var(--forms-container-bg);
    }
  }

  .forms-step-feedback-bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.875rem;

    justify-items: space-between;
    align-items: center;

    background-color: var(--forms-container-bg);

    &.with-padding {
      padding: 1.25rem 1.875rem;
    }
  }
}
