@import '../Variables.scss';

.forms-step2-image {
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100%;

  label {
    display: block;
    margin-bottom: 10px;

    font-size: $forms-label-text-size;
    font-weight: bold;
  }

  select {
    //cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: $border-radius-5;
    border: 1px solid var(--input-border-color);
    //outline: none;
    width: 258px;
    padding: $input-padding;

    background-color: var(--input-bg-color);
    font-size: $body-text-2;

    color: var(--base-text-color);

    &:invalid {
      color: var(--placeholders-text-color);
    }

    &:focus {
      border: 1px solid $transparent;
    }
  }

  .content-creation-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: 1fr;

    background-color: var(--forms-container-bg);

    //max-height: $image-forms-step2-main-min-height;

    .content-creation-left-side-bar {
      display: grid;
      grid-template-rows: 1fr max-content;

      width: calc(258px + 30px + 30px);

      border-right: 5px solid var(--content-creating-limit-border-color);

      .sections-container {
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: $Image-forms-step2-sections-container-min-height;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }
      }

      .language-container {
        padding: $forms-step2-language-container-padding;
        border-top: 5px solid var(--content-creating-limit-border-color);

        .forms-select {
          position: relative;

          svg {
            position: absolute;
            height: auto;
            width: 18px;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--icons-1-color);
            pointer-events: none;
          }
        }
      }
    }

    .content-creation-image-preview {
      display: grid;
      grid-template-rows: max-content max-content 1fr;
      gap: 20px;

      padding: $image-preview-container;

      border-right: 5px solid var(--content-creating-limit-border-color);

      .image-preview {
        img {
          object-fit: contain;
          height: 295px;
          border: 3px solid var(--image-uploaded-sections-border-color);
          aspect-ratio: 16 / 9;
        }
      }

      .image-preview-btns {
        display: grid;
        grid-template-columns: 1fr max-content;
      }

      .image-preview-description {
        align-self: end;

        input {
          width: 100%;
        }
      }
    }

    .content-creation-work-space {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;

      /* .content-creation-top-bar {
        display: grid;
        grid-template-columns: 1fr max-content max-content;

        padding: $forms-step2-content-creation-top-bar-padding;
        border-bottom: 5px solid var(--content-creating-limit-border-color);

        h2 {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;

          line-clamp: 1;

          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          //max-width: 70ch;

          margin: 0;
          align-self: center;
        }

        button:first-of-type {
          margin-right: 30px;
          margin-left: 30px;
        }
      } */

      .content-creation-upload {
        display: grid;
        grid-template-columns: 1fr;

        padding: 30px;

        //height: 100%;
        overflow: hidden;

        .dropzone {
          display: grid;
          grid-template-columns: 1fr;

          place-items: center;

          width: 100%;
          height: 100%;

          &:focus {
            outline: 2px solid $notice-Yellow;
            outline-offset: 0;
            //border: 1px solid $transparent;
          }

          .Centralisation {
            display: grid;
            grid-template-columns: max-content 1fr;

            align-items: center;

            width: 600px;

            .dropzone-info {
              // pointer-events: none;

              display: grid;
              grid-template-rows: repeat(4, max-content);

              justify-items: center;

              border-right: 1px solid var(--input-border-color);
              width: 226px;

              svg {
                width: 65px;
                height: auto;

                margin-bottom: 15px;
              }

              p {
                font-size: $forms-input-file-p;
                font-weight: $bold;
                color: var(--base-text-color);

                margin-bottom: 2px;
              }

              span {
                margin-bottom: 10px;
              }
            }

            .dropzone-file-type {
              display: grid;
              grid-template-rows: repeat(2, max-content);

              justify-items: center;

              span {
                font-size: $body-text-1;
                font-weight: $medium;
              }

              p {
                font-size: $dropzone-file-type-text-size;
                font-weight: $bold;
                color: var(--input-file-type-color);
                margin-top: -10px;
              }
            }
          }
        }
      }
    }
  }

  .forms-step2-bottom-bar {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;

    align-items: center;

    margin-top: 20px;

    .forms-step2-back-button {
      padding: 20px 30px;
      background-color: var(--forms-container-bg);
    }
  }

  .forms-step-feedback-bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 30px;

    justify-items: space-between;
    align-items: center;

    background-color: var(--forms-container-bg);

    &.with-padding {
      padding: 20px 30px;
    }
  }
}
