@import '../Variables.scss';

.forms-step1 {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 40px;

  width: 100%;
  background-color: var(--forms-container-bg);

  padding: $forms-step1-padding;

  .forms-step1-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 40px;

    .forms-triple-input {
      display: grid;
      grid-template-columns: max-content;
      gap: 40px;

      .forms-select {
        position: relative;

        svg {
          position: absolute;
          height: auto;
          width: 18px;
          right: 14px;
          top: 50%;
          transform: translateY(-50%);
          color: var(--icons-1-color);
          pointer-events: none;
        }
      }
    }
  }

  .forms-step-feedback-bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 30px;

    justify-items: space-between;
    align-items: center;

    background-color: var(--forms-container-bg);

    &.with-padding {
      padding: 20px 30px;
    }
  }
}

label {
  display: block;
  margin-bottom: 10px;

  font-size: $forms-label-text-size;
  font-weight: bold;
}

input {
  border-radius: $border-radius-5;
  border: 1px solid var(--input-border-color);
  //outline: none;
  width: 384px;
  padding: $input-forms-padding;

  background-color: var(--input-bg-color);
  font-size: $body-text-2;

  color: var(--base-text-color);

  &::placeholder {
    color: var(--placeholders-text-color);
  }

  &:focus {
    border: 1px solid $transparent;
  }

  /* &[type="range"] {
    padding: 0;
  } */
}

select {
  //cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: $border-radius-5;
  border: 1px solid var(--input-border-color);
  //outline: none;
  width: 384px;
  padding: $input-padding;

  background-color: var(--input-bg-color);
  font-size: $body-text-2;

  color: var(--base-text-color);

  &:invalid {
    color: var(--placeholders-text-color);
  }

  &:focus {
    border: 1px solid $transparent;
  }
}

.forms-text-area {
  display: grid;
  grid-template-rows: max-content 1fr;
}

textarea {
  resize: none;

  border-radius: $border-radius-5;
  border: 1px solid var(--input-border-color);
  //outline: none;
  width: 100%;
  padding: $textarea-padding;

  background-color: var(--input-bg-color);
  font-size: $body-text-2;

  color: var(--base-text-color);

  &::placeholder {
    color: var(--placeholders-text-color);
  }

  &:focus {
    border: 1px solid $transparent;
  }
}

.forms-input-file {
  display: grid;
  grid-template-rows: max-content 1fr;

  .images-uploaded-container {
    display: grid;
    grid-template-columns: max-content 1fr;

    //align-items: center;

    border-radius: $border-radius-5;
    border: 1px solid var(--input-border-color);

    width: 600px;

    &:focus {
      outline: 2px solid $notice-Yellow;
      outline-offset: 0;
      border: 1px solid $transparent;
    }

    .images-uploaded-dropzone {
      display: grid;
      align-items: center;

      height: 100%;
    }

    .dropzone-info {
      display: grid;
      grid-template-rows: repeat(4, max-content);

      justify-items: center;

      border-right: 1px solid var(--input-border-color);
      width: 226px;
      height: max-content;

      svg {
        width: 65px;
        height: auto;

        margin-bottom: 15px;
      }

      p {
        font-size: $forms-input-file-p;
        font-weight: $bold;
        color: var(--base-text-color);

        margin-bottom: 2px;
      }

      span {
        margin-bottom: 10px;
      }
    }

    .dropzone-file-list {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      padding: 20px 20px;

      justify-items: center;

      .uploaded-content-header {
        font-size: $body-text-1;
        font-weight: $medium;
        margin-bottom: 20px;
      }

      .uploaded-content-list {
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;

        padding-right: 10px;

        width: 100%;

        max-height: 190px;
        overflow: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }
      }
    }
  }

  .dropzone {
    display: grid;
    grid-template-columns: max-content 1fr;

    align-items: center;

    border-radius: $border-radius-5;
    border: 1px solid var(--input-border-color);

    width: 600px;

    &:focus {
      outline: 2px solid $notice-Yellow;
      outline-offset: 0;
      border: 1px solid $transparent;
    }

    .dropzone-info {
      // pointer-events: none;

      display: grid;
      grid-template-rows: repeat(4, max-content);

      justify-items: center;

      border-right: 1px solid var(--input-border-color);
      width: 226px;

      svg {
        width: 65px;
        height: auto;

        margin-bottom: 15px;
      }

      p {
        font-size: $forms-input-file-p;
        font-weight: $bold;
        color: var(--base-text-color);

        margin-bottom: 2px;
      }

      span {
        margin-bottom: 10px;
      }
    }

    .dropzone-file-type {
      display: grid;
      grid-template-rows: repeat(2, max-content);

      justify-items: center;

      span {
        font-size: $body-text-1;
        font-weight: $medium;
      }

      p {
        font-size: $dropzone-file-type-text-size;
        font-weight: $bold;
        color: var(--input-file-type-color);
        margin-top: -10px;

        &.video {
          font-size: $dropzone-file-type-video-text-size;
          margin-top: -5px;
        }
      }
    }
  }

  .file-uploaded-container {
    display: grid;
    grid-template-columns: 1fr;

    align-items: center;

    border-radius: $border-radius-5;
    border: 1px solid var(--input-border-color);

    width: 600px;
  }

  .file-uploaded-zone {
    display: grid;
    grid-template-columns: max-content 1fr;

    align-items: center;

    &:focus {
      outline: 2px solid $notice-Yellow;
      outline-offset: 0;
      border: 1px solid $transparent;
    }

    .file-side-bar {
      display: grid;
      grid-template-rows: repeat(3, max-content);
      align-content: space-between;
      justify-items: center;

      height: 100%;

      border-right: 1px solid var(--input-border-color);
      width: 226px;

      svg {
        width: 65px;
        height: auto;

        margin-bottom: 15px;
      }

      p {
        font-size: $forms-input-file-p;
        font-weight: $bold;
        color: var(--base-text-color);

        margin-bottom: 15px;

        &.video {
          font-size: $forms-input-file-video-p;
        }
      }
    }

    .file-side-info {
      display: grid;
      grid-template-rows: repeat(3, max-content);
      gap: 20px;

      align-content: space-between;
      justify-items: start;

      height: 100%;

      padding-left: 40px;

      .file-side-info-row {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 40px;
      }

      span {
        font-size: $body-text-1;
        font-weight: $regular;
        margin-bottom: 5px;
      }

      p:first-of-type {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        line-clamp: 2;

        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 32ch;
      }

      p {
        font-size: $body-text-1;
        font-weight: $bold;
      }
    }
  }
}
