@import "../Variables.scss";

.header {
  padding: $navbar-padding;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 70px;

  button {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 8px;

    height: 100%;

    background-color: var(--navbar-bg);
    border: 0;
    border-radius: $border-radius-5;
    padding: 12px 20px;

    font-weight: $bold;
    font-size: $nav-font-size;
    color: var(--navbar-elements-color);

    svg {
      height: 22px;
    }
  }
}

.logotipo-text {
  font-size: 32px;
  font-weight: $bold;
}
