@import '../Variables.scss';

.tab-container {
  display: flex;
  gap: 1.875rem;

  margin: $tab-container-margin;

  border-bottom: 0.125rem solid var(--tab-under-line-color);

  button {
    border: 0;
    padding-bottom: $tab-padding-bottom; //

    // serve para alinhar a borda da "tab" com a linha do "tab container"
    transform: translateY(0.125rem);

    background-color: $transparent;
    color: var(--tab-text-color);

    font-size: $tab-font-size;
    font-weight: $bold;

    &:hover {
      border-bottom: 0.125rem solid var(--tab-border-color);
      padding-bottom: calc($tab-padding-bottom - 0.125rem);
    }

    &.active {
      border-bottom: 0.125rem solid var(--tab-border-color);
      padding-bottom: calc($tab-padding-bottom - 0.125rem);
    }
  }
}
