@import '../Variables.scss';

button.btn-section {
  background: none;
  border: none;
  width: 100%;
}

.image-section {
  display: grid;
  grid-template-columns: 1fr 2fr max-content;
  gap: 1.25rem;

  align-items: center;

  padding: 0.9375rem 1.875rem;

  border-bottom: 0.0625rem solid var(--content-creating-limit-border-color);

  background-color: var(--section-bg-color);

  &.selected {
    border-left: 0.25rem solid var(--section-select-border-color);
    background-color: var(--section-select-bg-color);
    padding-left: 1.625rem;
  }

  img {
    object-fit: cover;
    height: 3.75rem;
    border: 0.125rem solid var(--image-uploaded-sections-border-color);
    aspect-ratio: 16 / 9;
  }

  .image-section-order {
    display: grid;
    grid-template-columns: max-content;
    gap: 0.625rem;

    align-items: center;

    p {
      font-size: $section-title-text-size;
      font-weight: $bold;
      padding: 0.25rem 0.75rem;
      border-radius: $border-radius-5;
      background-color: var(--image-uploaded-sections-slide-number-bg-color);
      color: var(--image-uploaded-sections-slide-number-text-color);
      margin-right: 0.3125rem;
    }

    svg.selected {
      height: 1.25rem;
      width: auto;
      color: var(--icons-1-color);
      pointer-events: none;
    }
  }

  .image-section-file {
    display: grid;
    justify-items: center;
  }

  div.drag-icon {
    display: grid;
    align-items: center;

    svg {
      height: 1.625rem;
      width: auto;
      color: var(--section-drag-color);
      pointer-events: none;
    }
  }
}
