@import '../Variables.scss';

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  padding: $modal-padding;
  width: 26.25rem;

  /* display: grid;
  grid-template-columns: max-content; */

  input {
    width: 100% !important;
  }

  select {
    width: 100% !important;
  }

  textarea {
    height: 12.5rem !important;
  }

  .input-time-group {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1.25rem;

    margin: 1.25rem 0;
  }

  .input-time-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.625rem;

    align-items: center;

    label {
      margin: 0;
    }

    .input-time {
      //position: relative;

      input {
        width: fit-content;
        padding: 0.75rem 1.25rem;
      }
    }
  }

  .forms-select {
    position: relative;

    svg {
      position: absolute;
      height: auto;
      width: 1.125rem;
      right: 0.875rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--icons-1-color);
      pointer-events: none;
    }
  }

  .btn-placement {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1.25rem;

    justify-content: end;

    margin-top: 1.875rem;
  }

  &.primary {
    border: 0.1875rem solid var(--modal-primary-border-color);
  }

  &.negative {
    border: 0.1875rem solid var(--modal-negative-border-color);

    p {
      margin-bottom: 0.625rem;
    }

    .section-name {
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 0.3125rem;

      align-items: center;

      p {
        margin: 0;
        font-weight: $bold;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        line-clamp: 1;

        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 35ch;
      }
    }
  }
}
