@import "../Variables.scss";

.nav {
  background-color: var(--navbar-bg);
  border-radius: $border-radius-5;
  padding: 0 20px;
  height: max-content;
  width: max-content;
  ul {
    list-style: none;
    display: flex;
    gap: 30px;

    button {
      display: flex;
      align-items: center;
      justify-items: center;
      height: 100%;
      background-color: var(--navbar-bg);
      border-radius: $border-radius-2; //Necessário mesmo que a border = 0 por causa do outline focus (motivos de coerência)
      border: 0;
      padding: 12px 0;

      svg {
        height: 22px;
      }
    }

    a {
      cursor: pointer;
      font-weight: $bold;
      font-size: $nav-font-size;
      color: var(--navbar-elements-color);

      border-radius: $border-radius-2;

      padding: 12px 0;
      text-decoration: none;
      display: flex;
      //align-items: center;
      //justify-content: center;

      /* &.active {
        border-bottom: 3px solid green;
      } */
    }
  }
}
