@import '../Variables.scss';

.forms-step-input-feedback {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 40px;

  align-items: center;

  p {
    font-weight: $medium;
  }

  .forms-step-input-feedback-container {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 10px;

    &.text-step2 {
      grid-template-columns: repeat(4, max-content);
    }

    &.image-step2 {
      grid-template-columns: repeat(4, max-content);
    }

    &.audio-step2 {
      grid-template-columns: repeat(4, max-content);
    }

    &.video-step2 {
      grid-template-columns: repeat(4, max-content);
    }

    div {
      border-left: 1px solid var(--forms-step1-feedback-bar-color);
      padding-left: 10px;

      svg {
        margin-right: 6px;
        color: var(--forms-step1-feedback-bar-color);
        width: 12px;
      }

      span {
        color: var(--forms-step1-feedback-bar-color);
        font-weight: $medium;
      }

      &.valid {
        span,
        svg {
          color: var(--forms-step1-valid-feedback-bar-color);
        }
      }
    }

    div:first-of-type {
      border: 0;
      padding: 0;
    }
  }
}
