@import '../Variables.scss';

button.btn-section {
  background: none;
  border: none;
  width: 100%;
}

.text-section {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;

  padding: 0.9375rem 1.875rem;

  border-bottom: 0.0625rem solid var(--content-creating-limit-border-color);

  background-color: var(--section-bg-color);

  &.selected {
    border-left: 0.25rem solid var(--section-select-border-color);
    background-color: var(--section-select-bg-color);
    padding-left: 1.625rem;
  }

  .text-section-title {
    display: grid;
    grid-template-columns: max-content;
    gap: 0.3125rem;

    align-items: center;

    p {
      position: relative;
      font-size: $section-title-text-size;
      font-weight: $bold;

      text-align: left;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      line-clamp: 1;

      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 22ch;
    }

    p.selected {
      max-width: 20ch;
    }

    svg.selected {
      height: 1.25rem;
      width: auto;
      color: var(--icons-1-color);
      pointer-events: none;
    }
  }
  div.drag-icon {
    display: grid;
    align-items: center;

    svg {
      height: 1.625rem;
      width: auto;
      color: var(--section-drag-color);
      pointer-events: none;
    }
  }
}
