@import '../Variables.scss';

.toolbar {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 2.5rem;
  align-items: center;

  margin: $toolbar-margin;

  .search {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    position: relative;

    input {
      border-radius: $border-radius-5;
      border: 0;
      //outline: none;
      width: 24rem;
      padding: $input-padding;

      background-color: var(--input-bg-color);
      font-size: $body-text-2;

      color: var(--base-text-color);

      &::placeholder {
        color: var(--placeholders-text-color);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-items: center;

      border: 0;
      border-radius: $border-radius-2;
      font-weight: $bold;
      font-size: $nav-desktop-font-size;

      background-color: $transparent;
      position: absolute;
      right: 0;

      padding: 0.875rem;

      svg {
        color: var(--icons-1-color);
        height: 1.0625rem;
        stroke: var(--icons-1-color);
        stroke-width: 10;
      }
    }
  }

  .filter {
    display: flex;
    gap: 1.875rem;
    align-items: center;
    font-size: $body-text-2;

    span {
      font-weight: $bold;
    }

    div {
      display: flex;
      gap: 0.625rem;

      button {
        border: 0;
        border-radius: $border-radius-2;
        padding: 0.25rem 0.625rem;

        background-color: $transparent;
        color: var(--toolbar-text-color);

        font-weight: $medium;

        &:hover {
          background-color: var(--toolbar-bg-hover-color);
          color: var(--toolbar-bg-pressed-color);
        }

        &.active {
          background-color: var(--toolbar-text-color);
          color: var(--toolbar-bg-pressed-color);
        }
      }
    }
  }
}
