@import '../Variables.scss';

.subtitles-cues-table-body {
  // todo o conteúdo do corpo da tabela
  display: grid;

  //height: 100%;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  border-bottom: 0.0625rem solid var(--content-creating-limit-border-color);

  &.first-body-component {
    padding-left: 1.25rem;
    display: block; // Use block ou inline-block

    //max-width: 100%; // Defina a largura máxima desejada
    height: 100%; // Isso pode ser ajustado conforme necessári
    overflow: hidden; // Oculta o texto que ultrapassa
    text-overflow: ellipsis; // Adiciona reticências ao final do texto
    white-space: nowrap; // Impede a quebra de linha

    align-content: center;
  }
}

.subtitles-cues-table-section {
  display: grid;
  grid-template-columns: 1fr max-content;

  .subtitles-cues-table-buttons {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1.25rem;

    padding-right: 1.25rem;

    align-content: center;
  }
}
