@import '../Variables.scss';

.content-showing-container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 90ch);
  grid-template-rows: 1fr;
  gap: 2.5rem;

  &.video {
    grid-template-columns: 1fr max-content;
  }

  .original-content-general-info-container {
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 2.5rem;

    .original-content-description-container {
      /* display: grid;
      grid-template-rows: repeat(3, max-content); */

      background-color: var(--cards-bg);
      padding: 1.875rem;

      p {
        max-height: $content-showing-description-paragraph-max-height;
        overflow: auto;

        padding-right: 0.625rem;

        &::-webkit-scrollbar {
          width: 0.3125rem;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }
      }
    }

    .original-content-general-info-footer {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 2.5rem;

      &.image {
        grid-template-columns: 1fr;
      }

      .original-content-adicional-info-container {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 2.5rem;

        justify-content: space-between;

        background-color: var(--cards-bg);
        padding: 1.875rem;

        div:nth-child(even) {
          justify-self: end;
          text-align: right;
        }
      }

      .original-content-container {
        display: grid;
        grid-template-rows: repeat(2, max-content) 1fr;

        justify-items: center;
        background-color: var(--cards-bg);
        padding: 1.875rem;

        svg {
          height: auto;
          width: 2.75rem;
        }

        button {
          align-self: end;
        }
      }
    }
  }

  .created-content-visualization-container {
    display: grid;
    grid-template-columns: 1fr;
    //padding: 1.875rem 1.875rem 1.875rem 3.125rem;
    background-color: var(--cards-bg);

    .Content-showing-container-audio-text {
      margin: 1.875rem 1.875rem 1.875rem 3.125rem;
      padding-right: 1.25rem;
      max-height: $content-showing-container-max-height;

      overflow: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 0.3125rem;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--content-scrollbar-bg-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--content-scrollbar-color);
      }
    }

    .Content-showing-container-image {
      margin: 1.875rem;

      max-height: $content-showing-container-max-height;

      display: grid;
      grid-template-rows: max-content max-content 1fr;
      gap: 1.25rem;

      .image-preview {
        img {
          object-fit: contain;
          //height: 18.4375rem;
          width: 100%;
          border: 0.1875rem solid var(--image-uploaded-sections-border-color);
          aspect-ratio: 16 / 9;
        }
      }

      .image-preview-bottom-bar {
        display: grid;
        grid-template-columns: repeat(3, max-content) 1fr;
        gap: 0.625rem;

        .imageSetBtn {
          border-radius: $border-radius-5;
          padding: 0.3125rem 0.75rem;
          min-width: 2.25rem;
          border: 0;

          background-color: var(--audio-controls-buttons-bg-color);
          color: var(--audio-controls-buttons-svg-color);
          width: max-content;
          height: max-content;

          &:hover {
            background-color: var(--audio-controls-buttons-bg-hover-color);
          }
        }

        .imagesCountPreview {
          font-size: $section-title-text-size;
          font-weight: $bold;
          padding: 0.3125rem 0.75rem;
          height: fit-content;
          border-radius: $border-radius-5;
          background-color: var(--content-detail-video-active-subtitles-mark-bg-color);
          color: var(--content-detail-video-active-subtitles-mark-text-color);
        }

        .btnContentPreview {
          justify-self: end;
        }
      }

      .image-preview-audio {
        align-self: end;

        input {
          width: 100%;
        }
      }
    }

    .Content-showing-container-video {
      margin: 1.875rem;

      max-height: $content-showing-container-max-height;

      /* overflow: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: .3125rem;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--content-scrollbar-bg-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--content-scrollbar-color);
      } */

      .video-display {
        display: grid;
        grid-template-columns: max-content;
        position: relative;

        /* overflow: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: .3125rem;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        } */

        .video {
          aspect-ratio: 16 / 9;
          //width: calc(90ch - 1.875rem - 1.875rem);
          height: calc($content-showing-video-responsive-height);
          //background-color: var(--video-bg-color);
        }

        .current-subtitles-showing {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 3.4375rem;

          background-color: var(--video-current-subtitles-showing-bg-color);
          color: var(--video-current-subtitles-showing-text-color);
          padding: 0.3125rem 0.625rem;

          text-align: center;
          max-width: 40ch;
        }
      }

      .all-subtitles-table {
        display: grid;
        grid-template-columns: minmax(8.75rem, max-content) 1fr;

        margin-top: 1.25rem;

        overflow: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: $content-showing-all-subtitles-table-content-max-height;

        &::-webkit-scrollbar {
          width: 0.3125rem;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--content-scrollbar-bg-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--content-scrollbar-color);
        }

        .all-subtitles-table-header {
          grid-row: 1; // Targets the first row

          background-color: var(--video-all-subtitles-table-header-bg-color);
          color: var(--video-all-subtitles-table-header-text-color);

          padding: 0.5rem 1.25rem;

          position: sticky;
          top: 0;
          //z-index: 5;

          span {
            font-size: $body-text-2;
            font-weight: $bold;
          }
        }
      }
    }
  }
}
