@import "Variables";
@import "Reset";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  -moz-osx-font-smoothing: grayscale;
  //overflow: hidden;
  background-color: var(--bg-color);
  color: var(--base-text-color);
  min-height: 100svh;
  /* height: 100%; */
}

.main {
  padding: $main-padding;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content; */
}

h1 {
  font-weight: $bold;
  font-size: $heading-1;
  margin-bottom: $heading-1-margin-bottom;
}

h2 {
  font-weight: $bold;
  font-size: $heading-2;
  margin-bottom: $heading-2-margin-bottom;
}

h3 {
  font-weight: $bold;
  font-size: $heading-3;
}

h4 {
  font-weight: $bold;
  font-size: $heading-4;
}

h5 {
  font-weight: $bold;
  font-size: $heading-5;
}

.RightSide-Grid-Container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr max-content;
}

a.primary-button {
  font-size: $primary-button-text-size;
  padding: 8px 12px;
  border: 1px solid var(--button-primary-border-color);

  background-color: var(--button-primary-bg-color);
  color: var(--button-primary-text-color);
  width: max-content;

  &:hover {
    background-color: var(--button-primary-bg-hover-color);
    color: var(--button-primary-text-hover-color);
  }
}

button.forms-button {
  font-size: $forms-button-text-size;
  font-weight: $semi-bold;
  padding: 6px 12px;
  border: 3px solid var(--button-forms-border-color);

  background-color: var(--button-forms-bg-color);
  color: var(--button-forms-text-color);
  width: max-content;

  &:hover {
    background-color: var(--button-forms-bg-hover-color);
    color: var(--button-forms-text-hover-color);
  }
}

/* .main {
  padding: $main-padding;
  min-height: 100svh;

  &.sorteio_bg {
    display: grid;
    gap: $main-spacing;
  }
} */

/* background-image: url(../Assets/Img/Sorteio_Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */

/* .card {
  padding: 20px;
  border: 1px solid #ccc;
  font-weight: $light;

  &.red {
    background-color: #ff0000;
    color: #fff; // Text color for better visibility
  }

  &.blue {
    background-color: #0000ff;
    color: #fff; // Text color for better visibility
  }
} */
