@import "Variables";
@import "Reset";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  -moz-osx-font-smoothing: grayscale;
  //overflow: hidden;
  background-color: var(--bg-color);
  color: var(--base-text-color);
  min-height: 100svh;
  /* height: 100%; */
}

.main {
  padding: $main-padding;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content; */
}

h1 {
  font-weight: $bold;
  font-size: $heading-1;
}

h2 {
  font-weight: $bold;
  font-size: $heading-2;
}

h3 {
  font-weight: $bold;
  font-size: $heading-3;
}

h4 {
  font-weight: $bold;
  font-size: $heading-4;
}

h5 {
  font-weight: $bold;
  font-size: $heading-5;
}

.RightSide-Grid-Container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr max-content;
}

/* .main {
  padding: $main-padding;
  min-height: 100svh;

  &.sorteio_bg {
    display: grid;
    gap: $main-spacing;
  }
} */

/* background-image: url(../Assets/Img/Sorteio_Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */

/* .card {
  padding: 20px;
  border: 1px solid #ccc;
  font-weight: $light;

  &.red {
    background-color: #ff0000;
    color: #fff; // Text color for better visibility
  }

  &.blue {
    background-color: #0000ff;
    color: #fff; // Text color for better visibility
  }
} */
