@import 'Variables';
@import 'Reset';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

body {
  -moz-osx-font-smoothing: grayscale;
  //overflow: hidden;
  background-color: var(--bg-color);
  color: var(--base-text-color);
  min-height: 100svh;
  /* height: 100%; */
}

.main {
  padding: $main-padding;
  display: grid;
  grid-template-columns: 1fr; // Estas 2 grids (columns & rows) para garantir que eu possa expandir qualquer grid com (1fr) para o tamanho da página
  grid-template-rows: max-content;
  min-height: $main-min-height;
}

h1 {
  font-weight: $bold;
  font-size: $heading-1;
  margin-bottom: $heading-1-margin-bottom;
}

h2 {
  font-weight: $bold;
  font-size: $heading-2;
  margin-bottom: $heading-2-margin-bottom;
}

h3 {
  font-weight: $bold;
  font-size: $heading-3;
  margin-bottom: $heading-3-margin-bottom;
}

h4 {
  font-weight: $bold;
  font-size: $heading-4;
  margin-bottom: $heading-4-margin-bottom;
}

h5 {
  font-weight: $bold;
  font-size: $heading-5;
  margin-bottom: $heading-5-margin-bottom;
}

.RightSide-Grid-Container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr max-content;
}

.primary-button {
  font-size: $primary-button-text-size;
  padding: 8px 12px;
  border: 1px solid var(--button-primary-border-color);

  background-color: var(--button-primary-bg-color);
  color: var(--button-primary-text-color);
  width: max-content;
  height: max-content;

  &:hover {
    background-color: var(--button-primary-bg-hover-color);
    color: var(--button-primary-text-hover-color);
  }

  &.pressed-look {
    background-color: var(--button-primary-bg-hover-color);
    color: var(--button-primary-text-hover-color);
  }

  &.icon {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 5px;
  }
}

.negative-button {
  font-size: $negative-button-text-size;
  padding: 8px 12px;
  border: 1px solid var(--button-negative-border-color);

  background-color: var(--button-negative-bg-color);
  color: var(--button-negative-text-color);
  width: max-content;
  height: max-content;

  &:hover {
    background-color: var(--button-negative-bg-hover-color);
    color: var(--button-negative-text-hover-color);
  }

  &.pressed-look {
    background-color: var(--button-negative-bg-hover-color);
    color: var(--button-negative-text-hover-color);
  }

  &.icon {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 5px;
  }
}

.forms-button {
  font-size: $forms-button-text-size;
  font-weight: $semi-bold;
  padding: 6px 12px;
  border: 2px solid var(--button-forms-border-color);

  background-color: var(--button-forms-bg-color);
  color: var(--button-forms-text-color);
  width: max-content;

  &:hover {
    background-color: var(--button-forms-bg-hover-color);
    color: var(--button-forms-text-hover-color);
  }

  &.invalid {
    border-color: var(--invalid-button-forms-border-color);
    background-color: var(--invalid-button-forms-bg-color);

    &:hover {
      background-color: var(--invalid-button-forms-bg-color);
      color: var(--button-forms-text-color);
    }
  }
}

/* .main {
  padding: $main-padding;
  min-height: 100svh;

  &.sorteio_bg {
    display: grid;
    gap: $main-spacing;
  }
} */

/* background-image: url(../Assets/Img/Sorteio_Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */

/* .card {
  padding: 20px;
  border: 1px solid #ccc;
  font-weight: $light;

  &.red {
    background-color: #ff0000;
    color: #fff; // Text color for better visibility
  }

  &.blue {
    background-color: #0000ff;
    color: #fff; // Text color for better visibility
  }
} */
