// Primary colors

// É recomendado para elementos não textuais um Contrast Ratio (+3.1) em relação ao background | Nível AA
// É recomendado para elementos de texto um Contrast Ratio (+4.5) em relação ao background | Nível AA

$light-blue: #f1f1f5; // Background light-mode // White (1.48) //

$light-gray: #d9d9d9; // Dark_Gray (12.07)

$gray-1: #878787; // White (3.59) | Background_Color (3.19) //
$gray-2: #6d6d6d; // White (5.17) // PlaceHolders (Texto) | Pequenas captions (Texto) | Informações de texto adicional (texto) //
$gray-3: #444444; // White (9.74) | Dark_Gray (1.75) // Destaque face ao Background dark_Gray

$dark-gray: #1c1c1c; // Background_Color (15.13) | White (17.04) | Gray_1 (4.74) | Informative_Blue (3.17) //

$white: #ffffff; // Dark_Gray (17.04)
$greenUA: #92d400; // Dark_Gray (9.45) //

$transparent: rgba(255, 255, 255, 0); // Transparente

// Feedback Colors

$negative-Red: #d33535; // White (4.85) | Dark_Gray (3.51) //
$notice-Yellow: #f3b21b; // Dark_Gray (9.08) //
$positive-Green-dark-mode: #86cc3f; // Dark_Gray (8.70) //
$positive-Green-light-mode: #1c810e; // White (5.00)
$informative-Blue: #1167d3; // White (5.38) | Dark_Gray (3.17) // Será usado como cor substituta do Ciano_Studying por ser bem mais agradável e acessível.
$informative-Blue-20: #d0e1f5; // Dark_Gray (12.80)

:root {
  // MediaQueries breakpoints

  --mobile: '320px';
  --mobileM: '375px';
  --mobileL: '425px';
  --tablet: '768px';
  --laptop: '1066px';
  --laptopL: '1440px';
  --desktop: '2560px';

  // Cores

  --bg-color: #{$light-blue};
  --base-text-color: #{$dark-gray};

  --content-scrollbar-bg-color: #{$light-gray};
  --content-scrollbar-color: #{$informative-Blue};

  --level-1-content-bg: #{$gray-3};
  --level-2-content-bg: #{$gray-2};
  --level-3-content-bg: #{$gray-1};

  --icons-1-color: #{$dark-gray};

  --placeholders-text-color: #{$gray-2};
  --input-bg-color: #{$white};
  --input-border-color: #{$gray-1};
  --input-file-type-color: #{$gray-1};

  /* --captions-text-color: #{$gray-2}; */
  --additional-text-color: #{$gray-2};

  --headerMobile-bg: #{$dark-gray};
  --headerMobile-text-color: #{$white};

  --navbar-bg: #{$dark-gray};
  --navbar-elements-color: #{$white};
  --navbar-elements-active-border-bottom-color: #{$positive-Green-light-mode};

  --main-container: #{$white};
  --cards-bg: #{$white};
  --forms-container-bg: #{$white};

  --toolbar-bg-pressed-color: #{$white};
  --toolbar-bg-hover-color: #{$gray-3};
  --toolbar-text-color: #{$dark-gray};

  --tab-text-color: #{$dark-gray};
  --tab-border-color: #{$informative-Blue};
  --tab-under-line-color: #{$light-gray};

  --content-card-date-text-color: #{$gray-2};
  --content-card-category-bg-color: #{$informative-Blue-20};

  --content-typology-example-title: #{$dark-gray};
  --content-typology-examples-bg: #{$light-gray};

  --button-primary-border-color: #{$informative-Blue};
  --button-primary-bg-color: #{$white};
  --button-primary-text-color: #{$dark-gray};
  --button-primary-bg-hover-color: #{$informative-Blue};
  --button-primary-text-hover-color: #{$white};
  --modal-primary-border-color: #{$informative-Blue};

  --button-negative-border-color: #{$negative-Red};
  --button-negative-bg-color: #{$white};
  --button-negative-text-color: #{$dark-gray};
  --button-negative-bg-hover-color: #{$negative-Red};
  --button-negative-text-hover-color: #{$white};
  --modal-negative-border-color: #{$negative-Red};

  --button-forms-border-color: #{$positive-Green-light-mode};
  --button-forms-bg-color: #{$white};
  --button-forms-text-color: #{$dark-gray};
  --button-forms-bg-hover-color: #{$positive-Green-light-mode};
  --button-forms-text-hover-color: #{$white};
  --invalid-button-forms-border-color: #{$gray-1};
  --invalid-button-forms-bg-color: #{$light-gray};

  --forms-step1-feedback-bar-color: #{$gray-2};
  --forms-step1-valid-feedback-bar-color: #{$positive-Green-light-mode};

  --placeholder-container-text-color: #{$gray-1};

  --content-creating-limit-border-color: #{$light-gray};

  --section-bg-color: #{$white};
  --section-drag-color: #{$gray-1};
  --section-select-bg-color: #{$informative-Blue-20};
  --section-select-border-color: #{$informative-Blue};

  --audio-container-border-color: #{$dark-gray};
  --audio-controls-buttons-bg-color: #{$dark-gray};
  --audio-controls-buttons-bg-hover-color: #{$gray-3};
  --audio-controls-buttons-svg-color: #{$white};

  --image-uploaded-container-border-color: #{$dark-gray};
  --image-uploaded-sections-slide-number-bg-color: #{$dark-gray};
  --image-uploaded-sections-slide-number-text-color: #{$white};
  --image-uploaded-sections-border-color: #{$dark-gray};

  --video-bg-color: #{$dark-gray};
  --video-current-subtitles-showing-bg-color: #{$dark-gray};
  --video-current-subtitles-showing-text-color: #{$white};
  --video-controls-bg-color: #{$dark-gray};
  --video-all-subtitles-table-header-bg-color: #{$dark-gray};
  --video-all-subtitles-table-header-text-color: #{$light-gray};
  --video-set-time-pin-color: #{$white};
  --video-set-time-pin-bg-color: #{$dark-gray};

  --audio-section-time-bg-color: #{$dark-gray};
  --audio-section-time-text-color: #{$white};

  --content-detail-video-active-subtitles-mark-bg-color: #{$dark-gray};
  --content-detail-video-active-subtitles-mark-text-color: #{$white};
}

/* [data-theme='dark'] {
  
} */

// Spacing
$header-desktop-padding: 2.5rem 4.375rem 0;
$header-mobile-padding: 0.625rem 1.5625rem;
$header-mobile-height: 4.25rem;

$main-min-height: calc(100svh - #{nth($header-desktop-padding, 1)} - 3rem);
$main-mobile-min-height: calc(100svh - #{$header-mobile-height});

$main-padding: 2.5rem 4.375rem 4.375rem;
$tab-container-margin: 0 0 1.25rem;
$tab-padding-bottom: 0.625rem;
$toolbar-margin: 0 0 2.5rem;
$input-padding: 0.75rem 2.8125rem 0.75rem 1.25rem;
$textarea-padding: 0.75rem 1.25rem;
$input-forms-padding: 0.75rem 1.25rem;

$content-cards-container-padding: 0 0 2.5rem;
$content-cards-container-ArquivoUA-max-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.9063rem - 2.5rem);
$content-cards-container-AreaPessoal-max-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.4375rem - 1.25rem - 2.9063rem - 2.5rem);

$content-cards-padding: 0.9375rem;
$content-typology-pre-info-margin: 0 0 2.5rem;
$content-typology-cards-padding: 1.875rem;

$content-showing-description-paragraph-max-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 14.5rem - 2.5rem - 2.625rem - 2.5rem - 1.6875rem - 0.9375rem - 1.875rem - 1.875rem);
$content-showing-container-max-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 1.875rem - 1.875rem);
$content-showing-video-responsive-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 18.25rem);
$content-showing-all-subtitles-table-content-max-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - #{$content-showing-video-responsive-height} - 1.875rem - 1.875rem - 1.25rem);

$content-typology-card-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 3rem - #{nth($content-typology-pre-info-margin, 3)});

$content-typology-general-card-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.3125rem - 0.125rem - #{nth($tab-container-margin, 3)});

$forms-step1-padding: 1.875rem 2.5rem;
$forms-step2-content-creation-top-bar-padding: 1.25rem 1.875rem;
$modal-padding: 1.875rem;

$forms-step2-language-container-padding: 1.25rem 1.875rem 1.875rem;

$text-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.625rem - 2.5rem - 2.9063rem - 1.875rem - 5.5625rem - 1.25rem);
$image-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.625rem - 2.5rem - 5.5625rem - 1.25rem);
$video-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.625rem - 2.5rem - 5.5625rem - 1.25rem);
$audio-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.625rem - 2.5rem - 5.5625rem - 1.25rem);

$text-forms-step2-work-space-max-height: calc(#{$text-forms-step2-main-min-height} - #{nth($forms-step2-content-creation-top-bar-padding, 1)} - #{nth($forms-step2-content-creation-top-bar-padding, 1)} - 2.5313rem - 0.3125rem);

$text-forms-step2-sections-container-min-height: calc(
  #{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.625rem - 2.5rem - 2.9063rem - 1.875rem - 5.5625rem - 1.25rem - #{nth($forms-step2-language-container-padding, 1)} - #{nth($forms-step2-language-container-padding, 3)} - 1.6875rem - 0.625rem - 3.0313rem - 0.3125rem
);
$Image-forms-step2-sections-container-min-height: calc(
  #{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 2.625rem - 2.5rem - 5.5625rem - 1.25rem - #{nth($forms-step2-language-container-padding, 1)} - #{nth($forms-step2-language-container-padding, 3)} - 1.6875rem - 0.625rem - 3.0313rem - 0.3125rem
);

$image-uploaded-container: 0.5rem 0.75rem;
$image-preview-container: 1.875rem;

$video-size-responsive-height: calc(#{$video-forms-step2-main-min-height} - 1.875rem - 1.875rem - 2.4375rem - 1.25rem);
$video-forms-step2-all-subtitles-table-content-max-height: calc(#{$video-size-responsive-height} - 5.3438rem - 1.875rem);
$video-forms-step2-subtitles-cues-table-content-max-height: calc(#{$video-size-responsive-height} - 3.0313rem - 1.875rem - 1.25rem - 2.5313rem);

$audio-sections-padding: 1.875rem;
$audio-sections-header-padding: 1.25rem 1.875rem;
$audio-forms-step2-sections-min-height: calc(#{$audio-forms-step2-main-min-height} - 2.0625rem - 1.25rem - 1.25rem - 1.25rem - #{$audio-sections-padding} - #{$audio-sections-padding});

/* quando for trocar estes valores por valores calculados mesmo para fazer o sizing em rem da pagina, saber que é font-size * line-height */

// Border

$border-radius-2: 0.125rem;
$border-radius-5: 0.3125rem;

// Nav

$nav-desktop-font-size: 1rem;
$nav-mobile-font-size: 1.375rem;
$nav-padding: 0.75rem 1.25rem;

// Tab

$tab-font-size: 1.125rem;

// Content Cards

$content-cards-width: 13.125rem;
$content-cards-height: 15.625rem;

// Typology Cards

$typology-cards-width: 23.375rem;

// Typography

$line-height-value: 1.5;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$heading-1: 1.75rem;
$heading-2: 1.375rem;
$heading-3: 1.125rem;
$heading-4: 1rem;
$heading-5: 0.9375rem;

$heading-1-margin-bottom: 2.5rem;
$heading-2-margin-bottom: 1.25rem;
$heading-3-margin-bottom: 0.9375rem;
$heading-4-margin-bottom: 0.9375rem; // Em alguns casos não se aplicam as margens (Ex: titulos dos cards de conteúdo no Arquivo UA)
$heading-5-margin-bottom: 0.9375rem;

$body-text-1: 1rem;
$body-text-2: 0.9375rem;

$overline-text-size: 0.9375rem;
$caption-text-size: 0.75rem;

$primary-button-text-size: 0.9375rem;
$negative-button-text-size: 0.9375rem;

$forms-button-text-size: 1.375rem;
$forms-label-text-size: 1.125rem;
$forms-input-file-p: 1.375rem;
$forms-input-file-video-p: 1.125rem;

$dropzone-file-type-text-size: 3.5625rem;
$dropzone-file-type-video-text-size: 2.375rem;

$no-content-placeholder-text-size: 3.5625rem;
$no-audio-content-placeholder-text-size: 3rem;

$section-title-text-size: 1rem;

$image-uploaded-container-p-text-size: 0.875rem;
$image-uploaded-container-span-text-size: 0.75rem;
