// Primary colors

// É recomendado para elementos não textuais um Contrast Ratio (+3.1) em relação ao background | Nível AA
// É recomendado para elementos de texto um Contrast Ratio (+4.5) em relação ao background | Nível AA

$light-blue: #f1f1f5; // Background light-mode // White (1.48) //

$light-gray: #d9d9d9; // Dark_Gray (12.07)

$gray-1: #878787; // White (3.59) | Background_Color (3.19) //
$gray-2: #6d6d6d; // White (5.17) // PlaceHolders (Texto) | Pequenas captions (Texto) | Informações de texto adicional (texto) //
$gray-3: #444444; // White (9.74) | Dark_Gray (1.75) // Destaque face ao Background dark_Gray

$dark-gray: #1c1c1c; // Background_Color (15.13) | White (17.04) | Gray_1 (4.74) | Informative_Blue (3.17) //

$white: #ffffff; // Dark_Gray (17.04)
$greenUA: #92d400; // Dark_Gray (9.45) //

$transparent: rgba(255, 255, 255, 0); // Transparente

// Feedback Colors

$negative-Red: #d33535; // White (4.85) | Dark_Gray (3.51) //
$notice-Yellow: #f3b21b; // Dark_Gray (9.08) //
$positive-Green-dark-mode: #86cc3f; // Dark_Gray (8.70) //
$positive-Green-light-mode: #1c810e; // White (5.00)
$informative-Blue: #1167d3; // White (5.38) | Dark_Gray (3.17) // Será usado como cor substituta do Ciano_Studying por ser bem mais agradável e acessível.
$informative-Blue-20: #d0e1f5; // Dark_Gray (12.80)

:root {
  --bg-color: #{$light-blue};
  --base-text-color: #{$dark-gray};

  --content-scrollbar-bg-color: #{$light-gray};
  --content-scrollbar-color: #{$informative-Blue};

  --level-1-content-bg: #{$gray-3};
  --level-2-content-bg: #{$gray-2};
  --level-3-content-bg: #{$gray-1};

  --icons-1-color: #{$dark-gray};

  --placeholders-text-color: #{$gray-2};
  --input-bg-color: #{$white};
  --input-border-color: #{$gray-1};
  --input-file-type-color: #{$gray-1};

  /* --captions-text-color: #{$gray-2}; */
  --additional-text-color: #{$gray-2};

  --navbar-bg: #{$dark-gray};
  --navbar-elements-color: #{$white};

  --main-container: #{$white};
  --cards-bg: #{$white};
  --forms-container-bg: #{$white};

  --toolbar-bg-pressed-color: #{$white};
  --toolbar-bg-hover-color: #{$gray-3};
  --toolbar-text-color: #{$dark-gray};

  --tab-text-color: #{$dark-gray};
  --tab-border-color: #{$informative-Blue};
  --tab-under-line-color: #{$light-gray};

  --content-card-date-text-color: #{$gray-2};

  --content-typology-example-title: #{$dark-gray};
  --content-typology-examples-bg: #{$light-gray};

  --button-primary-border-color: #{$informative-Blue};
  --button-primary-bg-color: #{$white};
  --button-primary-text-color: #{$dark-gray};
  --button-primary-bg-hover-color: #{$informative-Blue};
  --button-primary-text-hover-color: #{$white};
  --modal-primary-border-color: #{$informative-Blue};

  --button-negative-border-color: #{$negative-Red};
  --button-negative-bg-color: #{$white};
  --button-negative-text-color: #{$dark-gray};
  --button-negative-bg-hover-color: #{$negative-Red};
  --button-negative-text-hover-color: #{$white};
  --modal-negative-border-color: #{$negative-Red};

  --button-forms-border-color: #{$positive-Green-light-mode};
  --button-forms-bg-color: #{$white};
  --button-forms-text-color: #{$dark-gray};
  --button-forms-bg-hover-color: #{$positive-Green-light-mode};
  --button-forms-text-hover-color: #{$white};
  --invalid-button-forms-border-color: #{$gray-1};
  --invalid-button-forms-bg-color: #{$light-gray};

  --forms-step1-feedback-bar-color: #{$gray-2};
  --forms-step1-valid-feedback-bar-color: #{$positive-Green-light-mode};

  --placeholder-container-text-color: #{$gray-1};

  --content-creating-limit-border-color: #{$light-gray};

  --section-bg-color: #{$white};
  --section-drag-color: #{$gray-1};
  --section-select-bg-color: #{$informative-Blue-20};
  --section-select-border-color: #{$informative-Blue};

  --audio-container-border-color: #{$dark-gray};
  --audio-controls-buttons-bg-color: #{$dark-gray};
  --audio-controls-buttons-bg-hover-color: #{$gray-3};
  --audio-controls-buttons-svg-color: #{$white};

  --image-uploaded-container-border-color: #{$dark-gray};
  --image-uploaded-sections-slide-number-bg-color: #{$dark-gray};
  --image-uploaded-sections-slide-number-text-color: #{$white};
  --image-uploaded-sections-border-color: #{$dark-gray};

  --video-bg-color: #{$dark-gray};
  --video-current-subtitles-showing-bg-color: #{$dark-gray};
  --video-current-subtitles-showing-text-color: #{$white};
  --video-controls-bg-color: #{$dark-gray};
  --video-all-subtitles-table-header-bg-color: #{$dark-gray};
  --video-all-subtitles-table-header-text-color: #{$light-gray};
  --video-set-time-pin-color: #{$white};
  --video-set-time-pin-bg-color: #{$dark-gray};

  --audio-section-time-bg-color: #{$dark-gray};
  --audio-section-time-text-color: #{$white};
}

/* [data-theme='dark'] {
  
} */

// Spacing

$header-padding: 40px 70px 0;
$main-padding: 40px 70px 70px;
$tab-container-margin: 0 0 20px;
$tab-padding-bottom: 10px;
$toolbar-margin: 0 0 40px;
$input-padding: 12px 45px 12px 20px;
$textarea-padding: 12px 20px;
$input-forms-padding: 12px 20px;
$content-cards-container-padding: 0 0 40px;
$content-cards-padding: 15px;
$content-typology-pre-info-margin: 0 0 40px;
$content-typology-cards-padding: 30px;

$main-min-height: calc(100svh - #{nth($header-padding, 1)} - 48px);

$content-showing-description-paragraph-max-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 232px - 40px - 42px - 40px - 27px - 15px - 30px - 30px);

$content-typology-card-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 48px - #{nth($content-typology-pre-info-margin, 3)});

$content-typology-general-card-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 37px - 2px - #{nth($tab-container-margin, 3)});

$forms-step1-padding: 30px 40px;
$forms-step2-content-creation-top-bar-padding: 20px 30px;
$modal-padding: 30px;

$forms-step2-language-container-padding: 20px 30px 30px;

$text-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 42px - 40px - 46.5px - 30px - 89px - 20px);
$image-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 42px - 40px - 89px - 20px);
$video-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 42px - 40px - 89px - 20px);
$audio-forms-step2-main-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 42px - 40px - 89px - 20px);

$text-forms-step2-work-space-max-height: calc(#{$text-forms-step2-main-min-height} - #{nth($forms-step2-content-creation-top-bar-padding, 1)} - #{nth($forms-step2-content-creation-top-bar-padding, 1)} - 40.5px - 5px);

$text-forms-step2-sections-container-min-height: calc(
  #{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 42px - 40px - 46.5px - 30px - 89px - 20px - #{nth($forms-step2-language-container-padding, 1)} - #{nth($forms-step2-language-container-padding, 3)} - 27px - 10px - 48.5px - 5px
);
$Image-forms-step2-sections-container-min-height: calc(#{$main-min-height} - #{nth($main-padding, 1)} - #{nth($main-padding, 3)} - 42px - 40px - 89px - 20px - #{nth($forms-step2-language-container-padding, 1)} - #{nth($forms-step2-language-container-padding, 3)} - 27px - 10px - 48.5px - 5px);

$image-uploaded-container: 8px 12px;
$image-preview-container: 30px;

$video-size-responsive-height: calc(#{$video-forms-step2-main-min-height} - 30px - 30px - 39px - 20px);
$video-forms-step2-all-subtitles-table-content-max-height: calc(#{$video-size-responsive-height} - 85.5px - 30px);
$video-forms-step2-subtitles-cues-table-content-max-height: calc(#{$video-size-responsive-height} - 48.5px - 30px - 20px - 40.5px);

$audio-sections-padding: 30px;
$audio-sections-header-padding: 20px 30px;
$audio-forms-step2-sections-min-height: calc(#{$audio-forms-step2-main-min-height} - 33px - 20px - 20px - 20px - #{$audio-sections-padding} - #{$audio-sections-padding});

/* quando for trocar estes valores por valores calculados mesmo para fazer o sizing em rem da pagina, saber que é font-size * line-height */

// Border

$border-radius-2: 2px;
$border-radius-5: 5px;

// Nav

$nav-font-size: 16px;
$nav-padding: 12px 20px;

// Tab

$tab-font-size: 18px;

// Content Cards

$content-cards-width: 210px;
$content-cards-height: 250px;

// Typology Cards

$typology-cards-width: 374px;

// Typography

$line-height-value: 1.5;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$heading-1: 28px;
$heading-2: 22px;
$heading-3: 18px;
$heading-4: 16px;
$heading-5: 15px;

$heading-1-margin-bottom: 40px;
$heading-2-margin-bottom: 20px;
$heading-3-margin-bottom: 15px;
$heading-4-margin-bottom: 15px; // Em alguns casos não se aplicam as margens (Ex: titulos dos cards de conteúdo no Arquivo UA)
$heading-5-margin-bottom: 15px;

$body-text-1: 16px;
$body-text-2: 15px;

$overline-text-size: 15px;
$caption-text-size: 12px;

$primary-button-text-size: 15px;
$negative-button-text-size: 15px;

$forms-button-text-size: 22px;
$forms-label-text-size: 18px;
$forms-input-file-p: 22px;
$forms-input-file-video-p: 18px;

$dropzone-file-type-text-size: 57px;
$dropzone-file-type-video-text-size: 38px;

$no-content-placeholder-text-size: 57px;
$no-audio-content-placeholder-text-size: 48px;

$section-title-text-size: 16px;

$image-uploaded-container-p-text-size: 14px;
$image-uploaded-container-span-text-size: 12px;

// MediaQueries

$mobileS: (
  min-width: '320px',
);
$mobileM: (
  min-width: '375px',
);
$mobileL: (
  min-width: '425px',
);
$tablet: (
  min-width: '768px',
);
$laptop: (
  min-width: '1024px',
);
$laptopL: (
  min-width: '1440px',
);
$desktop: (
  min-width: '2560px',
);
